<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- ======================================================== -->
	<!--						App Settings					  -->
	<!-- ======================================================== -->
	<appSettings>
		<add key="Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="d:\test"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.FileName" value="Edge.Deliveries.db4o"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Port" value="2121"/>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.User" value="sa"/>
		<add key="Edge.Data.Pipeline.Delivery.Db4o.Password" value="sa"/>
		
		<add key="Edge.Core.Scheduling.Scheduler.Percentile" value="80" />
		<add key="Edge.Core.Scheduling.Scheduler.NeededScheduleTimeLine" value="02:00:00" />
		<add key="Edge.Core.Scheduling.Scheduler.IntervalBetweenNewSchedule" value="00:03:00" />
		<add key="Edge.Core.Scheduling.Scheduler.FindServicesToRunInterval" value="00:01" />
		<add key="Edge.Core.Scheduling.Scheduler.DeleteEndedServiceInterval" value="23:59:00" />	
	</appSettings>
	
	<connectionStrings>
		<add name="Edge.Core.Scheduling.Scheduler.OLTP" connectionString="Data Source=localhost;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
		<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=localhost; Database=Edge_System; Integrated Security=SSPI;"/>
	</connectionStrings>

	<!-- ======================================================== -->
	<!--				WCF configuration						  -->
	<!-- ======================================================== -->
	<system.serviceModel>
		<!--Server configuration-->
		<!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->

		<services>
			<service name="Edge.Applications.TempScheduler.Listener" behaviorConfiguration="behavior">
				<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
			</service>
		</services>

		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
		</client>

		<behaviors>
			<serviceBehaviors>
				<behavior name="behavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:10:00" receiveTimeout="0:10:00" />
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="server.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="server.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->
</configuration>