<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Edge.Rest.Api.Adress" value="http://alonya-pc/API3/{0}"/>
		<add key="Edge.Applications.PM.Suite.Permissions.Objects.UsersGroupsDataLayer.User" value="doron@edge.bi"/>
		<add key="Edge.Applications.PM.Suite.Permissions.Objects.UsersGroupsDataLayer.Password" value="123456"/>
	</appSettings>
</configuration>