<?xml version="1.0"?>
<configuration>
	<configSections>
			<section name="Menu" type="Edge.Applications.PM.Client.Configuration.MenuSection,Edge.Applications.PM.Client"/>
	</configSections>

	<Menu>
			<MenuItem Name="Users Managers" Class="Edge.Applications.PM.Client.ScreenShots.UsersManagers"></MenuItem>
			<MenuItem Name="Data Checks" Class="ssdfgsfgs">
				<MenuItem Name="DB Checks" Class="Edge.Applications.PM.Client.ScreenShots.DataChecks"></MenuItem>
				<MenuItem Name="Delivery Search" Class="Edge.Applications.PM.Suite.DeliverySearch.DeliverySearch"></MenuItem>
			</MenuItem>
	</Menu>
	
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
