<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Menu" type="Edge.Applications.PM.Client.Configuration.MenuSection,Edge.Applications.PM.Client"/>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>

	<appSettings>
		<!-- ************************************* Measuer Editor's ************************************************** -->
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int"/>
		<!-- ********************************************************************************************************* -->
	</appSettings>

	<connectionStrings>
		<add name="Edge.Applications.PM.Suite.DeliverySearch.DeliverySearch.DeliveryDB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia_System_29;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<!-- ************************************* Measuer Editor's ************************************************** -->
		<add name="Edge.Data.Objects.Measure.Edge.BI" connectionString="Data Source=79.125.11.74;; Database=easynet_OLTP; Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Data.Objects.Measure.Seperia" connectionString="Data Source=alonya-pc; Database=testdb; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<!-- ************************************* Measuer Editor's ************************************************** -->
	</connectionStrings>
	
	
	
	
	
	<Menu>
		<MenuItem Name="Users Managers" Class="Edge.Applications.PM.Client.ScreenShots.UsersManagers"></MenuItem>
		<MenuItem Name="Delivery Search" Class="Edge.Applications.PM.Suite.DeliverySearch.DeliverySearch,Edge.Applications.PM.Suite.DeliverySearch"></MenuItem>
		<MenuItem Name="Data Checks" Class="None">
			<MenuItem Name="DB Checks" Class="Edge.Applications.PM.Suite.DataChecks.DataChecksForm,Edge.Applications.PM.Suite.DataChecks"></MenuItem>
		</MenuItem>
		<MenuItem Name="Measure Editor" Class="Edge.Applications.PM.Suite.MeasureEditor.MeasureForm,Edge.Applications.PM.Suite.MeasureEditor"></MenuItem>
	</Menu>

	

	<edge.services>
		<Services>
		</Services>
		<Accounts>
		</Accounts>
	</edge.services>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
