<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
  </configSections>
  <appSettings>
    <add key="Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
  </appSettings>
  <connectionStrings>
	  <add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=localhost; Database=Source;User ID=edge;PWD=edgebi!"/>
	  <add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Source;User ID=edge;PWD=edgebi!"/>
	  <add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=localhost;Initial Catalog=Deliveries;Integrated Security=false;User ID=edge;PWD=edgebi!"/>
	  <add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=localhost;Initial Catalog=Seperia;Integrated Security=false;User ID=edge;PWD=edgebi!"/>


	  <!--Validation Service-->

	  <add name="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService.OltpDB" connectionString="Data Source=localhost; Database=Seperia;Integrated Security=false;User ID=edge;PWD=edgebi!"/>
	  <add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.OltpDB" connectionString="Data Source=localhost; Database=Seperia;Integrated Security=false;User ID=edge;PWD=edgebi!"/>
	  <add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.DwhDB" connectionString="Data Source=localhost; Database=Seperia_DWH;Integrated Security=false;User ID=edge;PWD=edgebi!"/>
	  <add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.DwhDB" connectionString="Data Source=localhost; Database=Seperia_DWH;Integrated Security=false;User ID=edge;PWD=edgebi!"/>
	  <add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.DwhDB" connectionString="Data Source=localhost; Database=Seperia_DWH;Integrated Security=false;User ID=edge;PWD=edgebi!"/>

    <!--Adwords-->
    <add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=edge;PWD=edgebi!"/>
    <add name="Edge.Services.Google.Adwords.GoogleUserEntity.MCC_Auth" connectionString="Data Source=79.125.11.74; Database=Seperia;User ID=edge;PWD=edgebi!"/>
    <!--Adwords-->
    
  </connectionStrings>
  <edge.services>
    <Services>
      <Service Name="DeliveryOltpValidation" Class = "Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService,Edge.Services.AdMetrics.Validations" />
		<Service Name="DwhOltpValidation" Class = "Edge.Services.AdMetrics.Validations.DwhOltpChecksumService,Edge.Services.AdMetrics.Validations" />
		<Service Name="MdxDwhValidation" Class = "Edge.Services.AdMetrics.Validations.MdxDwhChecksumService,Edge.Services.AdMetrics.Validations" />
		<Service Name="MdxOltpValidation" Class = "Edge.Services.AdMetrics.Validations.MdxOltpChecksumService,Edge.Services.AdMetrics.Validations" />
    </Services>
    <Accounts>
      <Account ID="-1" Name="system">
        <Services>
          <Service Uses="DeliveryOltpValidation"/>
			<Service Uses="DwhOltpValidation"/>
			<Service Uses="MdxDwhValidation"/>
			<Service Uses="MdxOltpValidation"/>
          
        </Services>
      </Account>
    </Accounts>
  </edge.services>
  <system.serviceModel>
    <!--Server configuration-->
    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->

    <services>
      <service name="Edge.Applications.TempScheduler.Listener" behaviorConfiguration="behavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
      </service>
    </services>

    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="edgeServiceWebBinding" sendTimeout="0:10:00" receiveTimeout="0:10:00" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>