<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
	</configSections>
	<appSettings>
		<add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20"/>
		<add key="Edge.Data.Pipeline.FileManager.RootPath" value="E:\Edge\Seperia\Files\Deliveries"/>
		<add key="Edge.Data.Pipeline.Services.PipelineService.DeliveryTicket.SP" value="DeliveryTicket_Get"/>
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@flags:int,@operator:int"/>
		<add key="Edge.Services.AdMetrics.AdMetricsImportManager.BufferSize" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Host=localhost; User=sa; Password=sa; Port=2121;"/>
		<add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=localhost; Database=Seperia_System_29;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=localhost;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Services.AdMetrics.AdMetricsImportManager.OLTP" connectionString="Data Source=localhost;Initial Catalog=Seperia;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>

		<!--Adwords-->
		<add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=localhost; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>
		<add name="Edge.Services.Google.Adwords.GoogleUserEntity.MCC_Auth" connectionString="Data Source=localhost; Database=Seperia;User ID=SeperiaServices;PWD=Asada2011!"/>
		<!--Adwords-->

	</connectionStrings>

	<!-- ======================================================== -->
	<!--						Services						  -->
	<!-- ======================================================== -->

	<edge.services>
		<Services>
			<Service Name="Rerun" IsPublic="true" Class="Edge.Data.Pipeline.Services.RerunService,Edge.Data.Pipeline"/>
			<Service Name="AdMetricsCommit" IsPublic="false" Class="Edge.Services.AdMetrics.CommitService,Edge.Services.AdMetrics"/>

			<!-- ======== Facebook ======== -->
			<Service Name="Facebook.AdsApi"
						IsEnabled="true"
						DeliveryFilesDir="Facebook"
						Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
						Facebook.BaseServiceAdress="https://api.facebook.com"
						Facebook.AuthenticationUrl="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;client_secret={2}&amp;code={3}"
						Facebook.Auth.ApiKey="168436873232861"
						Facebook.Auth.AppSecret="dada52b15e6d57e30f089a8ea94cf970"
						Facebook.Auth.RedirectUri="http://www.seperia.com/"
					    Facebook.Ads.XPath.GetAdGroups="ads_getAdGroups_response/ads_adgroup"
						Facebook.Ads.XPath.GetCampaigns="ads_getCampaigns_response/ads_campaign"
						Facebook.Ads.XPath.GetAdGroupStats="ads_getAdGroupStats_response/ads_period_stats/stats/ads_stats"
						Facebook.Ads.XPath.GetAdGroupTargeting="ads_getAdGroupTargeting_response/ads_targeting"
						Facebook.Ads.XPath.GetAdGroupCreatives="ads_getAdGroupCreatives_response/ads_creative"
						SQL.PrepareCommand="SP_Delivery_Commit_Facebook(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						SQL.CommitCommand="SP_Delivery_Insert_Facebook(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					    MaxExecutionTime="00:40:00"
						MaxInstances="2">
				<Workflow>
					<Step Base="FacebookInitializerService" />
					<Step Base="FacebookRetriverService"  />
					<Step Base="FacebookProcessorService"  />
					<Step Base="AdMetricsCommit"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="11:20" CalendarUnit="Day" MaxDeviation="5:00"  />
				</SchedulingRules>
			</Service>

			<Service Name="FacebookInitializerService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.InitializerService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookRetriverService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.RetrieverService,Edge.Services.Facebook.AdsApi"/>
			<Service Name="FacebookProcessorService" IsPublic="false" Class="Edge.Services.Facebook.AdsApi.ProcessorService,Edge.Services.Facebook.AdsApi" AutoAdGroupSegment="true" AdGroupDelimiter="@"/>

			<!-- ======== Google AdWords ======== -->
			<Service Name="Google.AdWords"
						 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					     DeliveryFilesDir="GoogleAdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
						 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					     MaxExecutionTime="1:10:00"
					     MaxInstances="6">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:16" CalendarUnit="Day" MaxDeviation="02:30"  />
				</SchedulingRules>
			</Service>
			<Service Name="Google.AdWords.EasyForex2"
						 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					     DeliveryFilesDir="GoogleAdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
						 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					     MaxExecutionTime="1:10:00"
					     MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>
			<Service Name="Google.AdWords.EasyForex3"
						 Class="Edge.Data.Pipeline.Services.PipelineWorkflowService,Edge.Data.Pipeline"
					     DeliveryFilesDir="GoogleAdWords"
						 Adwords.ReportType="AD_PERFORMANCE_REPORT|KEYWORDS_PERFORMANCE_REPORT"
						 Adwords.DateRange="YESTERDAY"
						 KeywordContentId="3000000"
						 includeConversionTypes ="true"
						 includeZeroImpression ="true"
						 includeDisplaytData ="true"
						 SQL.PrepareCommand="SP_Delivery_Commit_Adwords_v2(@DeliveryID:NvarChar,@DeliveryTablePrefix:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar,?CommitTableName:NvarChar)"
						 SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)"
						 SQL.CommitCommand="SP_Delivery_Insert_Adwords(@DeliveryFileName:NvarChar,@CommitTableName:NvarChar,@MeasuresNamesSQL:NvarChar,@MeasuresFieldNamesSQL:NvarChar)"
					     MaxExecutionTime="1:10:00"
					     MaxInstances="1">
				<Workflow>
					<Step Base="GoogleInitializer"  IsEnabled="true"/>
					<Step Base="GoogleRetriver"  IsEnabled="true"/>
					<Step Base="GoogleProcessor"  IsEnabled="true"/>
					<Step Base="AdMetricsCommit" MaxExecutionTime="1:10:00"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="02:00" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>

			<Service Name="Google.AdWords.EasyForex">
				<Workflow>
					<Step Base="Google.AdWords" Adwords.ClientID="323-509-6780" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex2" Adwords.ClientID="457-373-2218" Adwords.MccEmail="ppc.easynet@gmail.com"/>
					<Step Base="Google.AdWords.EasyForex3" Adwords.ClientID="621-961-3925" Adwords.MccEmail="ppc.easynet@gmail.com"/>
				</Workflow>
				<SchedulingRules>
					<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="2:30"  />
				</SchedulingRules>
			</Service>

			<Service Name="GoogleInitializer" IsPublic="false" Class="Edge.Services.Google.AdWords.InitializerService, Edge.Services.Google.AdWords"/>
			<Service Name="GoogleRetriver" IsPublic="false" Class="Edge.Services.Google.AdWords.RetrieverService, Edge.Services.Google.AdWords"/>
			<Service Name="GoogleProcessor" IsPublic="false" Class="Edge.Services.Google.AdWords.ProcessorService, Edge.Services.Google.AdWords" AutoAdGroupSegment="true"/>


			<Service Name="RoleBackByDeliveries" SQL.RollbackCommand="SP_Delivery_Rollback_By_DeliveryID(@DeliveryID:NvarChar,@TableName:NvarChar)" Class="Edge.Services.AdMetrics.RollbackService,Edge.Services.AdMetrics"/>
		</Services>


		<!-- ======================================================== -->
		<!--						Accounts						  -->
		<!-- ======================================================== -->

		<Accounts>
			<Account ID="-1" Name="System Account">
				<Services>
					<Service Uses="RoleBackByDeliveries"></Service>
				</Services>
			</Account>
			<!-- ======== PC Speed ======== -->
			<Account ID="1007" Name="PC Speed">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{utm_content}\w+)\b" Value="{utm_content}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="PC Speed"
							Facebook.Account.ID="351560853"							
							Facebook.Auth.SessionSecret="AQB0cr7E4uKYJNbZv1sHxVyRYCae3r-Z0vlsIubqbJC58uelExBKWKO_0pqoo8ohK6yZhe-5haio6U2zUlsyXHLLz9JRYwRDoQA_nTydzqL2Q3tLCwLGc66Tze9lvBUKBUoTLTeBjNLBnSMBeD77U9vM0ilDD7xHmcT-oHs0S1FN5rzRkyykGNFUOvR9y19DJfc#_=_"
							>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="11:00" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>
					</Service>
				</Services>
			</Account>

			<!-- ======== Conduit ======== -->
			<Account ID="95" Name="Conduit" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="825-318-4176"
							>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="05:11" CalendarUnit="Day" MaxDeviation="00:20" />
						</SchedulingRules>
					</Service>
					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="Conduit"
							Facebook.Account.ID="58966934"
							Facebook.Auth.SessionSecret="AQA4zAYBg3gM7D6YVHp82_IghH6kBNPAxFg8m-00WS_6TzREpwVsJV09u689qxTw08EMPySGqk8tVknWCsnFea2iux2VX3ZF2BWfT4qRSKxdJ8NRVh6LSTxeoS_Im4vT4Xt4rawWWN4BDa7kRQ5LMv15FfQ454N1AURTVkPTsfZz8qR_xeDjWOjNqJ6mxY7h2Yo#_=_"/>
				</Services>
			</Account>

			<!-- ======== Bbinary ======== -->
			<Account ID="1006" Name="Bbinary" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bp=edgetrackerid_(?{edgetrackerid}\w+)\b)" Value="{edgetrackerid}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="313-555-6925"
							>
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="08:10" CalendarUnit="Day" MaxDeviation="00:20" />
						</SchedulingRules>
					</Service>
					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="Bbinary"
							Facebook.Account.ID="263939553"
							Facebook.Auth.SessionSecret="AQD9CYrQC93CvyWPhuCp8KKOony1Sgo-SZXQSHR7G0GNKdujprV3BCVi2GrK-3a5kf2LDWacvBDQC-S7r30-NpCdoyejfc19JBYX2uyl2izhZlC36kfoDBkoEzH8gdmh9TAICb0fnFh1NXSnn7gacGXHyHrpuwEHCOgPQztk4Xvc2XxcNOgg4Nm6fnDQFSW0BPQ#_=_"/>
				</Services>
			</Account>

			<!-- ======== Easy Forex ======== -->
			<Account ID="7" Name="EasyForex" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bref_id=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
						<Pattern Regex="(\bgid=(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
						<Pattern Regex="((%3F|%26)gid%3D(?{EFtracker}\w+)\b)" Value="{EFtracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords.EasyForex">
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="05:02" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>
					</Service>

					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="EasyForex"
							Facebook.Account.ID="52081533"
							Facebook.Auth.SessionSecret="AQC30JAPrSVgxivQwusb7JLdo0x_nEUZe4GI1f0xCcsFaypFwnJtTPKG-2pkmyF2WtYpqU_zghvK_HsS53piz3bcVuiDXHU_pXB9m3swePyldBPhve4um6A6-8k1b-yIFFDrBXsbSidUUzQYS_qi6WPDSV1mahiR-WmpIqfZ7aWIrYcgeYxD07QkR68NFtP0gHY#_=_"/>
				</Services>
			</Account>

			<!-- ======== Stock Pair ======== -->
			<Account ID="1249" Name="Stock Pair">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bp=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.ClientID="900-690-7606" Adwords.MccEmail="ppc.easynet@gmail.com">
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="03:30" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>
					</Service>
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Stock Pair"
							Facebook.Account.ID="106380492783821"
							Facebook.Auth.SessionSecret="AQAPH8AOohLWP8ynvLVUF1hAdvp5DeLXi7YfhruUTVWtPXo_huT00-xdVXV5Wxe0evvweIofwFaFC9xRxfsQOLlY2wHDhfpK4q7sN-4k0bkD9exG7lz1P64vP14cl3YV7-hJpKHFOyjov09vAgObrwtrkKTIBWYmLjABFDO7AJrZK7qJt41OQOagHHaGLukXLck#_=_"
							/>
				</Services>
			</Account>

			<!-- ======== BezeqInt ======== -->
			<Account ID="67" Name="BezeqInt" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="570-782-6631"
							/>
				</Services>
			</Account>

			<!-- ======== Proportzia ======== -->
			<Account ID="42" Name="Proportzia" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bref=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="472-872-7798"/>
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="Proportzia"
						Facebook.Account.ID="101082200000403"
						Facebook.Auth.SessionSecret="AQDJyEhHT8q592MyVoHa1RSyoFbsM71VjyCB7qRZTJyCeiTOm6D3N4rGKyw7U6vIlb6n8goQzB_FHp7SGnjmI3PvwAFF2PS9YaUouIPy-gvopyeSU5bc7Sw_pVCw5i9chsb80exxUunNuVIAbHyuGlbOpp2DU7vWTHeH1fAcgudpPeefP2HKM3V2ZXLFGN12dLI#_=_"
							/>
				</Services>
			</Account>

			<!-- ======== Daka90 ======== -->
			<Account ID="102" Name="Daka90" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="272-772-9533" />
				</Services>
			</Account>

			<!-- ======== OOVOO ======== -->
			<Account ID="1014" Name="OOVOO" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=Ad(?{tracker}\w+)\b" Value="{tracker}"/>
						<Pattern Regex="\butm_content=ad(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com"	Adwords.ClientID="221-507-2572"	/>
				</Services>
			</Account>

			<!-- ======== DragonOptions ======== -->
			<Account ID="1240223" Name="DragonOptions" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bp=edgetrackerid_(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="106-743-0336" />
				</Services>
			</Account>

			<!-- ======== Digital Fuel ======== -->
			<Account ID="1004" Name="Digital Fuel" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btrackerid=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com"	Adwords.ClientID="154-753-6935"	/>
				</Services>
			</Account>

			<!-- ======== Eye Buy Direct deactivated 8/9/2011 ======== -->
			<!--<Account ID="1001" Name="Eye Buy Direct">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btrackerid=fb(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Eye Buy Direct"
							Facebook.Account.ID="368434410"							
							Facebook.Auth.SessionSecret="to activate please create and change the sesionsecrect(code)"
							/>
				</Services>
			</Account>-->

			<!-- ======== Ask.com deactivated 8/9/2011 ======== -->
			<!--<Account ID="1002" Name="Ask.com">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bo=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Ask.com"
							Facebook.Account.ID="346377637"
							Facebook.Auth.SessionKey="0842a11b386852d58af62a89-100001655719215"
							Facebook.Auth.SessionSecret="6889a16bbabda273b8a8ae7b8050a4a7"
							/>
				</Services>
			</Account>-->

			<!-- ======== Yola deactivated 8/9/2011 ======== -->
			<!--<Account ID="1005" Name="Yola">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bo=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Yola"
							Facebook.Account.ID="346831581"							
							Facebook.Auth.SessionSecret="AQDYIViJo3dPDO3ableOiFcE-3SXKf-7wtIXqTfVI9hFqHsbT82am1PklTxL9XqOucFQZNMdNPeOvaTMY-gbcX2gCDt5EhsCJUQwR2YzSai_-ob1xb89Ij12y2x67hON1dwHgJhplrXiAYanJ_kvig71jLYmTOS8As7zhKlp2giDHO_FmB-STwO02HH2xp4rWdA#_=_"
							/>
				</Services>
			</Account>-->

			<!-- ======== Radvision ======== -->
			<Account ID="109" Name="Radvision">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btrackerid=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="757-489-1019">
						<SchedulingRules Overrides="true">
							<Rule ExactTimes="11:05" CalendarUnit="Day" MaxDeviation="00:25" />
						</SchedulingRules>
					</Service>
				</Services>
			</Account>

			<!-- ======== Leascar ======== -->
			<Account ID="113" Name="Leascar">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="891-372-5780"/>
				</Services>
			</Account>

			<!-- ======== Homeless ======== -->
			<Account ID="520" Name="Homeless">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="300-314-5888"/>
				</Services>
			</Account>

			<!-- ======== Mojob ======== -->
			<Account ID="1011" Name="Mojob">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="176-375-9939"/>
				</Services>
			</Account>

			<!-- ======== Seperia.com ======== -->
			<Account ID="61" Name="Seperia.com">
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="281-492-7878"/>
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="Seperia.com"
							Facebook.Account.ID="59684411"							
							Facebook.Auth.SessionSecret="AQAdtDXcA73fPJuleBIXRlfevVh424zeHKRK2B9x3yC2ywoUrFrZtvHtamlIOGE2RKy9LuuW9cDZDzJu-jJQj-4mqAowD_CId4fpj0aBN_IWA3S1djsw7Dky39QXKaaRqagQw4k6RTPS1wnwCDYmXAQxGzMzQv5xhFqJUTJoVvrMrtaCLeGBOSaN3Te8EHOYeHQ#_=_"
							/>
				</Services>
			</Account>

			<!-- ======== Babylon ======== -->
			<Account ID="106" Name="Babylon">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\btextlink=esyhn(?{tracker}\w+)\b" Value="2{tracker}"/>
						<Pattern Regex="\btextlink=esyms(?{tracker}\w+)\b" Value="14{tracker}"/>
						<Pattern Regex="\btextlink=esgn(?{tracker}\w+)\b" Value="1{tracker}"/>
						<Pattern Regex="\btextlink=esfa(?{tracker}\w+)\b" Value="6{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun"/>
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="630-321-7827"/>
				</Services>
			</Account>

			<!-- ======== harmon.ie ======== -->
			<Account ID="1240" Name="harmon.ie">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bad_id=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="343-519-6637"/>
					<Service Uses="Facebook.AdsApi"
							Facebook.Account.Name="harmon.ie"
							Facebook.Account.ID="100912583340137"							
							Facebook.Auth.SessionSecret="AQDc_FMq73twCvAltDwPh3jRO7t7SGUsqcgksKTepncSKqom2X4zV_k7fZxwqmiK-z3fz3oWSMmwwLohThQUOoQ6Bc7PGaEGpSYXoGLm_0-YuNBRm7qUejL9jCRrLYkEI5ZHpkoweU1WYWuYsb2dnUtoLNxMu6CWFnuKzGfl2aV3gkLVsNki7WXv3EVrw4rHUCg#_=_"
							/>
				</Services>
			</Account>

			<!-- ======== InterTrader ======== -->
			<Account ID="1239" Name="InterTrader ">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bwm=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="949-326-3074" />
				</Services>
			</Account>

			<!-- ======== ForexAffiliate ======== -->
			<Account ID="1245" Name="ForexAffiliate">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bpartnersseperia(?{tracker}\w+)\b" Value="{tracker}"/>
						<Pattern Regex="\bbest_affiliate_(?{tracker}\w+)\b" Value="{tracker}"/>
						<Pattern Regex="\bUKSeperia(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="586-663-3386" />
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="ForexAffiliate"
						Facebook.Account.ID="365165763"						
						Facebook.Auth.SessionSecret="AQALxNaPRUgsxsASGBEHmAQJNXKCKfXmmx9dk7lls4R_kKZcxtnXVdjG1QHhQAtl7cm9K26ABKoONQW7K8TICsmcFX_o8UDL8aC04Gck9i9-d0qiJkYG8DX2mYwq6rwveqb2lmdUJKNR80mfC9bD9XvDlWfqsOjh2uDog2Z94-HGakW2q5cuA6IDSSHZDbTq424#_=_"
							/>
				</Services>
			</Account>

			<!-- ======== Pauza deactivated 8/9/2011 ======== -->
			<!--<Account ID="1247" Name="Pauza">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bref=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="222-605-8090" />
				</Services>
			</Account>-->

			<!-- ======== Top Scratch deactivated 8/9/2011 ======== -->
			<!--<Account ID="1248" Name="Top Scratch">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\butm_content=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="755-297-3466" />
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="Top Scratch"
						Facebook.Account.ID="103539379729597"
						Facebook.Auth.SessionKey="20c5efc69dbdcb56c05f5592.4-100002206064988"
						Facebook.Auth.SessionSecret="To activate please create new session key(code)"
							/>
				</Services>
			</Account>-->

			<!-- ======== NobleCasino deactivated 8/9/2011 ======== -->
			<!--<Account ID="1240224" Name="NobleCasino">
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="\bprofile=(?{tracker}\w+)\b" Value="{tracker}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Facebook.AdsApi"
						Facebook.Account.Name="NobleCasino"
						Facebook.Account.ID="106092456150902"
						Facebook.Auth.SessionKey="ad7d95da979bb2b16caf6f92.0-100002504448424"
						Facebook.Auth.SessionSecret="To activate + change the api key"
							/>
				</Services>
			</Account>-->

			<!-- ======== Magisto ======== -->
			<Account ID="1240226" Name="Magisto" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\butm_content=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="589-375-3277"
							>
					</Service>
					<Service Uses="Facebook.AdsApi"
							 Facebook.Account.Name="Magisto"
							Facebook.Account.ID="104545522979268"							
							Facebook.Auth.SessionSecret="AQAl2Uxn8md9f7XZOkUVLplQgaQ0F5MayCeQ4EdlvwQ2vDWSG92V9fsNR_cVZdWr6zo6XQ3Yt587Gaj9gRrjz1sZRU0LZeMcbpcEEj6rM9rwciCvLytmKqGGsMCYnFmum_liMBvcbBK6Mta207eetgEqihx0jro_3XctyCrNUmYoamoWfCuppvp20NrUcJYH3gE#_=_"/>
				</Services>
			</Account>

			<!-- ======== Leverate ======== -->
			<Account ID="1240227" Name="Leverate" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords"
							Adwords.MccEmail="ppc.easynet@gmail.com"
							Adwords.ClientID="430-419-4336"
							>
					</Service>
				</Services>
			</Account>

			<!-- ======== DealplusDaka90 ======== -->
			<Account ID="1240228" Name="DealplusDaka90" >
				<AutoSegments IsEnabled="false">
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="365-264-0734" />
				</Services>
			</Account>


			<!-- ======== FutureSimple ======== -->
			<Account ID="1240229" Name="FutureSimple" >
				<AutoSegments>
					<Segment Name="Tracker" SegmentID="-977">
						<Pattern Regex="(\bai=(?{ref_id}\w+)\b)" Value="{ref_id}"/>
					</Segment>
				</AutoSegments>
				<Services>
					<Service Uses="Rerun" />
					<Service Uses="Google.AdWords" Adwords.MccEmail="ppc.easynet@gmail.com" Adwords.ClientID="390-348-3064" />
				</Services>
			</Account>

		</Accounts>
	</edge.services>

	<system.serviceModel>
		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.9/seperia/deploy"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="edgeServiceWebBinding" sendTimeout="0:05:00" receiveTimeout="0:05:00"/>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>

</configuration>

