<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
  </configSections>
	
  <appSettings>
		<!-- ************************************* Measuer Editor's ************************************************** -->
		<add key="Edge.Data.Objects.Measure.GetMeasures.SP" value="Measure_GetMeasures(@accountID:Int,@channelID:Int,@measureID:Int,,@includeBase:Int@flags:Int,@operator:Int"/>
		<!-- ********************************************************************************************************* -->
  </appSettings>
	
  <connectionStrings>
		<!-- ************************************* Measuer Editor's ************************************************** -->
		<add name="Edge.Data.Objects.Measure.Edge.BI" connectionString="Data Source=79.125.11.74;; Database=easynet_OLTP; Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
		<add name="Edge.Data.Objects.Measure.Seperia" connectionString="Data Source=alonya-pc; Database=testdb; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
		<!-- ************************************* Measuer Editor's ************************************************** -->  
  </connectionStrings>
	
  <edge.services>
	<Services>	
	</Services>
	<Accounts>
	</Accounts>  
  </edge.services>		
</configuration>