<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="/log4net.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=BI_RND;initial catalog=EdgeSystem;integrated security=true" />
      <commandText value="INSERT INTO Log_v3 ([DateRecorded],[MachineName],[ProcessID],[Source],[ContextInfo],[MessageType],[Message],[ServiceInstanceID],[ServiceProfileID],[IsException],[ExceptionDetails]) 
										 VALUES (@dateRecorded, @machineName, @processID, @source, @contextInfo, @messageType, @message, @serviceInstanceID, @serviceProfileID, @isException, @exceptionDetails)" />
      <parameter>
        <parameterName value="@dateRecorded" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout">
          <conversionPattern value="%property{@dateRecorded}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@machineName" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@machineName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@processID" />
        <dbType value="Int32" />
        <size value="8" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@processID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@source" />
        <dbType value="String" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@source}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@contextInfo" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@contextInfo}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@messageType" />
        <dbType value="Int32" />
        <size value="8" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@messageType}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@message}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@serviceInstanceID" />
        <dbType value="String" />
        <size value="32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@serviceInstanceID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@serviceProfileID" />
        <dbType value="String" />
        <size value="32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@serviceProfileID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@isException" />
        <dbType value="Boolean" />
        <size value="1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@isException}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exceptionDetails" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{@exceptionDetails}" />
        </layout>
      </parameter>
    </appender>

    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="RollingLogFileAppender" />-->
      <appender-ref ref="AdoNetAppender" />
      <!--<appender-ref ref="SmtpAppender" />-->
    </root>
  </log4net>

  <appSettings>
    <add key="Edge.Core.Services.ServiceExecutionHost.WcfAddressFormat" value="net.tcp://localhost:3535/{hostName}"/>
    <add key="Edge.Core.Services.ServiceExecutionHost.WcfBindingType" value="NetTcpBinding"/>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="ShowDaysBack" value="3"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Edge.Core.Services.ServiceExecutionHost" behaviorConfiguration="EdgeDefault">
        <endpoint
					name="Edge.Core.Services.ServiceExecutionHost"
					binding="netTcpBinding"
					bindingConfiguration="EdgeDefault"
					contract="Edge.Core.Services.IServiceExecutionHost"
					address="net.tcp://localhost:3535/{hostName}"
				/>
      </service>
      <service name="Edge.Core.Services.ServiceEnvironmentEventListener" behaviorConfiguration="EdgeDefault">
        <endpoint
					name="Edge.Core.Services.ServiceEnvironmentEventListener"
					binding="netTcpBinding"
					bindingConfiguration="EdgeDefault"
					contract="Edge.Core.Services.IServiceEnvironmentEventListener"
					address="net.tcp://localhost:3636/{guid}"
				/>
      </service>
    </services>
    <client>
      <endpoint
					name="Edge.Core.Services.ServiceExecutionHost"
					binding="netTcpBinding"
					bindingConfiguration="EdgeDefault"
					contract="Edge.Core.Services.IServiceExecutionHost"
				/>
      <endpoint
					name="Edge.Core.Services.ServiceEnvironmentEventListener"
					binding="netTcpBinding"
					bindingConfiguration="EdgeDefault"
					contract="Edge.Core.Services.IServiceEnvironmentEventListener"
				/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EdgeDefault">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="EdgeDefault"
						 portSharingEnabled="true"
						 maxBufferPoolSize="20000000"
						 maxConnections="20000000"
						 maxBufferSize="20000000"
						 maxReceivedMessageSize="20000000"
						 receiveTimeout="01:00:30"
						 sendTimeout="01:00:30"
						 closeTimeout="01:00:30"
						 openTimeout="01:00:30"
						 />
      </netTcpBinding>
    </bindings>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging
				 logEntireMessage="true"
				 logMalformedMessages="true"
				 logMessagesAtServiceLevel="true"
				 logMessagesAtTransportLevel="true"
				 maxMessagesToLog="3000"
			/>
    </diagnostics>

  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
					switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
				 type="System.Diagnostics.XmlWriterTraceListener"
					   initializeData="Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>

</configuration>