<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SmtpConnection" type="System.Configuration.SingleTagSectionHandler" />	
  </configSections>
  <!-- ======================================================== -->
  <!--						App Settings					  -->
  <!-- ======================================================== -->
  <appSettings>
    <add key="Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}" />
    <add key="Edge.Data.Pipeline.FileManager.RootPath" value="d:\test" />
    <add key="Edge.Data.Pipeline.FileManager.BufferSize" value="20" />
    <add key="Edge.Core.Scheduling.Scheduler.Percentile" value="80" />
    <add key="Edge.Core.Scheduling.Scheduler.NeededScheduleTimeLine" value="02:00:00" />
    <add key="Edge.Core.Scheduling.Scheduler.IntervalBetweenNewSchedule" value="00:00:30" />
    <add key="Edge.Core.Scheduling.Scheduler.FindServicesToRunInterval" value="00:01" />
    <add key="Edge.Core.Scheduling.Scheduler.DeleteEndedServiceInterval" value="23:59:00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Edge.Core.Scheduling.Scheduler.OLTP" connectionString="Data Source=alonya-pc;;Initial Catalog=testdb;Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />
	<add name="Edge.Applications.PM.SchedulerControl.Objects.HistoryBindingData.Seperia" connectionString="Data Source=alonya-pc;; Database=Edge_System; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
	  <add name="Edge.Applications.PM.SchedulerControl.Objects.LogBindingData.Log" connectionString="Data Source=alonya-pc;; Database=Edge_System; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
    <add name="Edge.Services.Google.Adwords.AdwordsReport.SystemDatabase" connectionString="Data Source=alonya-pc;; Database=Edge_System; Integrated Security=false;User ID=sa;PWD=Iuh2sstd" />
	  <add name="Edge.Applications.PM.SchedulerControl.Objects.SchedulerBindingData.Shcedulers" connectionString="Data Source=alonya-pc;; Database=Edge_System; Integrated Security=false;User ID=sa;PWD=Iuh2sstd"/>
  </connectionStrings>
  <SmtpConnection server="70.39.235.94" port="25" user="edge.alerts@seperia.com" pass="D035643BCD6EF35312B7B58A7154F082" UseDefaultCredentials="false" EnableSsl="false">
  </SmtpConnection>
  <!-- ======================================================== -->
  <!--				WCF configuration						  -->
  <!-- ======================================================== -->
  <system.serviceModel>
    <!--Server configuration-->
    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->
    <services>
      <service name="Edge.Applications.TempScheduler.Listener" behaviorConfiguration="behavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
      </service>
    </services>
    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
      <endpoint address="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Reporting/ReportingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService" contract="AdCenter.Reporting.IReportingService" name="AdCenter.Reporting.IReportingService" />
		<endpoint binding="netNamedPipeBinding" bindingConfiguration="ISchedulingCommunication" address="net.pipe://localhost/Scheduler" contract="Edge.Applications.PM.SchedulerControl.Objects.ISchedulingCommunication" name="SeperiaSchedulerCommunication"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="edgeServiceWebBinding" sendTimeout="0:10:00" receiveTimeout="0:10:00" />
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReportingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
		<netNamedPipeBinding>
			<binding name="ISchedulingCommunication" maxBufferPoolSize="20000000" maxConnections="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" closeTimeout="00:03:00"  openTimeout="00:03:00"/>			
		</netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.AdWords" priority="1" group="Low" />
      </soapExtensionTypes>
    </webServices>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Tracesc.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>