<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="edge.services" type="Edge.Core.Configuration.EdgeServicesConfiguration, Edge.Core" />
		<section name="DataChecks.MetricsValidations" type="Edge.Applications.PM.Suite.DataChecks.Configuration.MetricsValidationsSection,Edge.Applications.PM.Suite.DataChecks" />
		<section name="DataChecks.ValidationTypes" type="Edge.Applications.PM.Suite.DataChecks.Configuration.ValidationsTypesSection,Edge.Applications.PM.Suite.DataChecks" />
	    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

	<!--===========================================================-->
	<!--                                     LOG Settings                               -->
	<!-- ======================================================== -->
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="/log4net.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="data source=79.125.11.74;initial catalog=Seperia_System_291;integrated security=false;persist security info=True;User ID=SeperiaServices;Password=Asada2011!" />
			<commandText value="INSERT INTO Log ([DateRecorded],[MachineName],[ProcessID],[Source],[MessageType],[ServiceInstanceID],[AccountID],[Message],[IsException],[ExceptionDetails]) 
										 VALUES (@dateRecorded, @machineName, @processID, @source, @messageType, @serviceInstanceID,@accountID,@message,@isException,@exceptionDetails)" />
			<parameter>
				<parameterName value="@dateRecorded" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout">
					<conversionPattern value="%property{@dateRecorded}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@machineName" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@machineName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@processID" />
				<dbType value="Int32" />
				<size value="8" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@processID}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@source" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@source}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@messageType" />
				<dbType value="Int32" />
				<size value="8" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@messageType}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@serviceInstanceID" />
				<dbType value="Int64" />
				<size value="10" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@serviceInstanceID}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@accountID" />
				<dbType value="Int32" />
				<size value="8" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@accountID}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@message}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@isException" />
				<dbType value="Boolean" />
				<size value="1" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@isException}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exceptionDetails" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{@exceptionDetails}" />
				</layout>
			</parameter>
		</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="alon.yaari@edge.bi" />
			<from value="alon.yaari@edge.bi" />
			<subject value="Hello from log4net" />
			<smtpHost value="mx.edge.bi" />
			<bufferSize value="512" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<!--<appender-ref ref="RollingLogFileAppender" />-->
			<appender-ref ref="AdoNetAppender" />
			<!--<appender-ref ref="SmtpAppender" />-->
		</root>
	</log4net>



	<appSettings>
    <add key="Edge.Core.Services.Service.BaseListeningUrl" value="net.tcp://localhost:3535/{0}"/>
		<add key="SeperiaProductionConfigurationPath" value="D:\Seperia.config"/>
		<add key="EdgeProductionConfigurationPath" value="D:\Edge.config"/>
		<add key="AdmobConnection" value="Data Source=localhost;Catalog=Seperia_UDM"/>
	  <add key="Edge.Rest.Api.Adress" value="http://alonya-pc/API3/{0}"/>
	</appSettings>

	<!-- ========================================================================================================= -->
	<!--																				Data Checks Configuration																					 -->
	<!-- ========================================================================================================= -->

	<DataChecks.ValidationTypes>
		<ValidationType Name="AdMetricsDeliveryOltp"			Type="DeliveryOltp" ClassRef="AdMetricsValidation"			ServiceToUse="OltpDeliveryValidation"/>
		<ValidationType Name="AdMetricsMdxOltp"						Type="MdxOltp"			ClassRef="AdMetricsValidation"			ServiceToUse="MdxOltpValidation"/>
		<ValidationType Name="GenericMetricsDeliveryOltp" Type="DeliveryOltp" ClassRef="GenericMetricsValidation" ServiceToUse="Segments.DeliveryOltpValidation"/>
	</DataChecks.ValidationTypes>
	
	<DataChecks.MetricsValidations>
		<MetricValidation Name="Adwords"			ClassName="AdMetricsValidation"				ChannelID="1"		RunHasLocal="true"/>
		<MetricValidation Name="Facebook"			ClassName="AdMetricsValidation"				ChannelID="6"		RunHasLocal="true"/>
		<MetricValidation Name="Bing"				ClassName="AdMetricsValidation"				ChannelID="14"		RunHasLocal="true"/>
		<MetricValidation Name="Backoffice"			ClassName="GenericMetricsValidation"		ChannelID="-1"		RunHasLocal="true"/>
		<MetricValidation Name="Adwords GDN"		ClassName="GenericMetricsValidation"		ChannelID="1"		RunHasLocal="true"/>
	</DataChecks.MetricsValidations>
	
	<!-- ========================================================================================================= -->
	
  <connectionStrings>
	  <add name="Edge.Data.Pipeline.Delivery.DB" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
	  <add name="Edge.Core.Services.SystemDatabase" connectionString="Data Source=79.125.11.74; Database=Seperia_System_291;User ID=SeperiaServices;PWD=Asada2011!"/>
	  <add name="Edge.Data.Pipeline.Delivery.Sql.DeliveriesDb" connectionString="Data Source=79.125.11.74;Initial Catalog=Deliveries;Integrated Security=false;User ID=SeperiaServices;PWD=Asada2011!"/>
	

	<add name="Edge.Application.ProductionManagmentTools.main.Panorama" connectionString="Data Source=79.125.11.74;Initial Catalog=Panorama;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>

	<!--Validation Service-->
    <add name="Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.DwhDB" connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxDwhChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.DwhDB" connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.MdxOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.DwhDB" connectionString="Data Source=79.125.11.74; Database=Seperia_DWH;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
    <add name="Edge.Services.AdMetrics.Validations.DwhOltpChecksumService.OltpDB" connectionString="Data Source=79.125.11.74; Database=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
	  
	<!--Delivery Search-->  
    <add name="Edge.Application.ProductionManagmentTools.DeliverySearch.DeliveryDB" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia_System_29;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
   	
	<!--PMS General-->
	<add name="Edge.Applications.PM.Suite.DataChecks.DataChecksModelView.Seperia" connectionString="Data Source=79.125.11.74;Initial Catalog=Seperia;Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
	<add name="Edge.Applications.PM.Suite.DataChecksModelView.Edge.BI" connectionString="Data Source=79.125.11.74;; Database=easynet_OLTP; Integrated Security=false;User ID=edge1;PWD=Blublu*2!"/>
  </connectionStrings>
	
	
  <edge.services>
    <Services>
      <Service Name="DeliveryOltpValidation" Class = "Edge.Services.AdMetrics.Validations.DeliveryOltpChecksumService,Edge.Services.AdMetrics.Validations" />
      <Service Name="DwhOltpValidation" Class = "Edge.Services.AdMetrics.Validations.DwhOltpChecksumService,Edge.Services.AdMetrics.Validations" />
      <Service Name="MdxDwhValidation" Class = "Edge.Services.AdMetrics.Validations.MdxDwhChecksumService,Edge.Services.AdMetrics.Validations" />
      <Service Name="MdxOltpValidation" Class = "Edge.Services.AdMetrics.Validations.MdxOltpChecksumService,Edge.Services.AdMetrics.Validations" />
    </Services>

    <Accounts>
      <Account ID="-1" Name="system">
        <Services>
          <!--<Service Uses="DeliveryOltpValidation" SourceTable="dbo.Paid_API_AllColumns_v29" />
          <Service Uses="DwhOltpValidation"/>
          <Service Uses="MdxDwhValidation"/>
          <Service Uses="MdxOltpValidation"/>-->
        </Services>
      </Account>
    </Accounts>
  </edge.services>
  <system.serviceModel>
    <!--Server configuration-->
    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->

    <services>
      <service name="Edge.Applications.TempScheduler.Listener" behaviorConfiguration="behavior">
        <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
      </service>
    </services>

    <client>
      <endpoint binding="wsHttpBinding" bindingConfiguration="edgeServiceWebBinding" contract="Edge.Core.Scheduling.IScheduleManager" address="http://localhost:27334/v2.1/ScheduleManagerSeperia" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="Edge.Core.Services.Service.InstanceToEngineBinding" portSharingEnabled="true" receiveTimeout="1:0:0" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="edgeServiceWebBinding" sendTimeout="0:10:00" receiveTimeout="0:10:00" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
	<system.web>
		<webServices>
			<soapExtensionTypes>
				<add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.AdWords" priority="1" group="Low"/>
			</soapExtensionTypes>
		</webServices>
	</system.web>
</configuration>